[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
fastapi = "*"
uvicorn = "*"
websockets = "*"
openai-whisper = "*"
ffmpeg-python = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
